.root {
    -fx-background-color: #202124;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.scroll-pane {
    -fx-vbar-policy: always;
    -fx-border-color: transparent;
    -fx-background-color: #292a2e;
    -fx-background-radius: 15 15 15 15;
}

.scroll-pane > .viewport, .split-pane:horizontal {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-color: #595959;
    -fx-border-color: #595959;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.scroll-bar:vertical > .thumb {
    -fx-background-color: #9e9e9e;
}

.ok-button {
    -fx-background-color: #2196f3;
}

.abort-button {
    -fx-background-color: #848c91;
}

.item-checkbox {
    -fx-padding: 10 0 0 10;
}

.check-box:determinate > .text {
    -fx-fill: #999999;
}

.check-box:determinate > .box {
    -fx-background-color: #4d4d4d;
}

.check-box:selected > .box > .mark {
    -fx-background-color: #2ecbff;
}

.tooltip {
    -fx-show-delay: 20ms;
    -fx-hide-delay: 50ms;
    -fx-font-size: 14px;
}
